@model IEnumerable<MeusAfazeres.Models.Fazer>

@{
    ViewData["Title"] = "Tarefas";
}

<p>
    <a asp-action="Create">Criar nova Tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concluido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUltimaAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concluido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUltimaAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
